<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

    <style type="text/css" media="screen">
        body {
            font-family: sans-serif;
            font-size: 16px;
            background-color: #f0f0f0;
        }

        
        
        .trends-container{
          display: flex;
          flex-direction: column;
        }
        
        span{
          padding: 3px;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        #scrapBtn {
            display: flex;
            justify-content: center;
            padding: 15px;
            border-radius: 20px;
            color: white;
            cursor: pointer;
            font-family: sans-serif;
            font-size: 20px;
            width: 150px;
            height: auto;
            background-color: #f06448;
        }

        #scrapBtn:hover {
            background-color: #ff984c;
        }
    </style>
</head>

<body>
    <h1> Twitter Trends Scapper </h1>
    <center>
        <div id="scrapBtn">
            Start Scraping
        </div>

        <div id="logs">
            <p id="log-msg"></p>    
        </div>
    </center>

    <div class="trends-container">
        <span id="uniqId"></span>
        <h4 id="datetime"> </h4>
        <div style="padding:10px; display : flex; flex-direction : column;">
        <span id="t1"></span>
        <span id="t2"></span>
        <span id="t3"></span>
        <span id="t4"></span>
        <span id="t5"></span>
        <span id="ip"></span>
        <p id="doc"></p>
        </div>
        
    </div>


    <script>

        const scrapBtn = document.getElementById('scrapBtn');
        const log_msg = document.getElementById('log-msg');
        const uniqId = document.getElementById('uniqId');
        const ip = document.getElementById('ip');
        const t1 = document.getElementById('t1');
        const t2 = document.getElementById('t2');
        const t3 = document.getElementById('t3');
        const t4 = document.getElementById('t4');
        const t5 = document.getElementById('t5');
        const datetime = document.getElementById('datetime')
        const mongoDoc = document.getElementById('doc');

        scrapBtn.addEventListener('click', async () => {
            console.log('button clicked')
            scrapBtn.innerText = "Scraping..."
            log_msg.innerHTML = '';
            scrapBtn.style.pointerEvents = 'none';

             fetch('/scrap')
            .then(async (response) => {
            const res = await response.json();
            console.log(`response is : ${res}`)
            if(res.success){
                const data = res.data;
                uniqId.innerText =`Unique id : ${data._id}`;
                ip.innerText = `The IP address used for this query was : ${data.ipAddress}`;
                t1.innerText = `1: ${data.trend1}`;
                t2.innerText = `2: ${data.trend2}`;
                t3.innerText = `3: ${data.trend3}`;
                t4.innerText = `4: ${data.trend4}`;
                t5.innerText = `5: ${data.trend5}`;
                datetime.innerText = `These are the most happening topics as on datetime: ${data.endTime}`

                mongoDoc.innerHTML = ` <p> Here’s a JSON extract of this record from the MongoDB: ${JSON.stringify(data)} </p> ` ;
                
                scrapBtn.innerText = 'Start Scraping';
                log_msg.innerText = 'Trends succcessfully fetched, click start scraping button to query again'
                scrapBtn.style.pointerEvents = 'auto'
                
            }else{
                scrapBtn.innerText = 'Start Scraping';
                log_msg.innerText = res.data
                scrapBtn.style.pointerEvents = 'auto'
            }
            }).catch((err)=>{
                scrapBtn.innerText = 'Start Scraping';
                log_msg.innerText = err
                scrapBtn.style.pointerEvents = 'auto'
            })

            

        })
       
    </script>


</body>

</html>